*{
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
}
h1{
    font-size:3.5rem;
}
h3{
    font-size:2.4rem;
}
p{
    font-size:1rem;
}
img{
    height:320px;
    width:320px;
}
img:hover{
    height:325px;
    width:325px;
}
#home{
    /* background-color:#1E1259 ; */
    /* background-color: #281466; */
    background-color: #5431A5;
    /* background-color: #8251A8; */
    color:white;
    
}
@keyframes float {
    50%{
        bottom:24px; 
    }
}
#home img{
    position: relative;
    bottom:0;
    animation: float 4s infinite;
}
#cards{
    background-color: #FF7E1D;
    color:black;
}
#aboutus{
    background-color: #FFCE00;
    color:black;
}
#contact{
    background-color: #413D45;
    color:white;
}
.flex{
    margin:8.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:450px){
    .flex{
        margin:8% 3%;
    }
    .h1{
        font-size:2.2rem;
    }
    .slide .flex{
        margin:15px;
        padding:10px;
    }
    img{
        width:200px;
        height:200px;
    }
}
.text{
    display:inline-block;
    width:450px;
}

.card4{
    background-image: linear-gradient( 135deg, #AFB9C8 ,#f09957f8,  #94D0CC);
    border-radius: 30px;
    margin: 80px;
    height: 79vh;
}


.card1{
    background-image: linear-gradient( 135deg, #e0404e ,#d36388, #f8ae4e);
    border-radius: 30px;
    margin: 80px;
    height: 79vh;
}

.card2{
    background-image: linear-gradient( 135deg, #ff9625 , #94D0CC);
    border-radius: 30px;
    margin: 80px;
    height: 79vh;
}

.card3{
    background-image: linear-gradient( 135deg, #867AE9 , #FBC6A4);
    border-radius: 30px;
    margin: 80px;
    height: 79vh;
}

.card5{
    background-image: linear-gradient( 135deg, #1b3862 ,#c4859a, #71d3e9);
    border-radius: 30px;
    margin: 72px;
    height: 79vh;
}

.card6{
    background-image: linear-gradient( 135deg, #1b6255 ,#c1c485, #71d3e9);
    border-radius: 30px;
    margin: 80px;
    height: 79vh;
}




.card1 p:hover{
    color:rgb(128, 245, 251);
     font-weight: 500;
     font-style: italic;
   }
   
   .card2 p:hover{
       color:rgb(34, 156, 208);
        font-weight: 500;
        font-style: italic;
      }
   
      .card3 p:hover{
       color:rgb(96, 255, 226);
        font-weight: 500;
        font-style: italic;
      }
   
   
      .card4 p:hover{
       color:rgb(153, 70, 255);
        font-weight: 500;
        font-style: italic;
      }
      .card5 p:hover{
        color:rgb(70, 95, 255);
         font-weight: 500;
         font-style: italic;
       }
       .card6 p:hover{
        color:rgb(133, 60, 11);
         font-weight: 500;
         font-style: italic;
       }
      
   
   .box {
       display:inline-block;
       margin:10px;
       background: linear-gradient(to right, #FF616D, darkorange);
       color: #ffffff;
       --width: 110px;
       --height: calc(var(--width) / 3);
       width: var(--width);
       height: var(--height);
       text-align: center;
       line-height: var(--height);
       font-size: calc(var(--height) / 2.5);
       font-family: sans-serif;
       letter-spacing: 0.2em;
       border: 1px solid darkgoldenrod;
       border-radius: 2em;
       transform: perspective(500px) rotateY(-15deg);
       text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
       box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
       transition: 0.5s;
       position: relative;
       overflow: hidden;
   }

   
   .box:hover {
       transform: perspective(500px) rotateY(15deg);
       text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
       box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
   }
   
   .box::before {
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background: linear-gradient(to right, transparent, white, transparent);
       left: -100%;
       transition: 0.5s;
   }
   
   .box:hover::before {
       left: 100%;
   }


   @media only screen and (max-width: 390px)
 {
     .box{
         width: 70px;
     }
     .card1 h3 {
        font-size: 20px;
    }
    .card2 h3 {
        font-size: 20px;
    }
    .card3 h3 {
        font-size: 20px;
    }
     .card5 h3 {
         font-size: 20px;
     }

     .card4 h3 {
        font-size: 20px;
    }
    .card6 h3 {
        font-size: 20px;
    }

     .card1 p a{
         font-size: 11px;
     }
     .box {
        font-size: 11px;
     }
 }